<div class="normal-wrapper">
  <div class="row">

    <div class="small-12 medium-6 large-4 small-centered columns">

      <% if (typeof info != 'undefined' ){ %>
          <div data-alert class="alert-box info">
            <%= __(info) %> <a href="<%= redirect %>">Action</a>
          </div>
      <% } %>

    </div>

  </div>
</div>