<!DOCTYPE html>
<html>

<head>
  <!--
        For demonstration purposes, the `title` is dynamically set here based on
        your `sails.config.appName` to show that you can inject data into layouts
        exactly the same way as with your other view templates.
    -->
  <title>
    singmade.com | a fashion designers coummunity for design publishing, sharing and discovering
  </title>
  <link rel="icon" type="image/ico" href="/favicon.ico"/>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <!--

      Stylesheets
      ========================

      You can link any CSS, LESS, or image files in your `assets` directory
      as you would normally: using <link/> tags.
      
    -->

  <!--STYLES-->
  <link rel="stylesheet" href="/min/production.css">
  <!--STYLES END-->


  <!--

      Support for LESS included by default
      ================================================

      LESS files are automatically compiled when they change using the Gruntfile
      located in the top-level of this Sails app.  If you run into issues with styles
      not reloading, check the Sails log output in your console for LESS compilation errors.
      If necessary, shut down and then lift your app again.
      
    -->

</head>

<body>
  <div class="body-wrapper">

    <div class="header">
      <div class="row">
        <div class="column small-6 ltr">
          <div>
            <a href="/" style="display: inline-block; padding: 5px 0;">
              <img src="http://res.cloudinary.com/boutiquesg/image/upload/c_scale,h_35/v1384063847/singmade-logo-white_nme1s4.png">
            </a>
             <!-- ~ all about originality -->
          </div>
        </div>
        <div class="column small-6 rtl">

          <div class="link-group">

            <% if(req.session.user) { %>
              <a href="/me" style="text-transform: lowercase;">
                <%=req.session.user.email %>
              </a>
               / 
              <a href="/logout">logout</a>
              <% } else { %>
                <a href="/login">login</a>
                 / 
                <a href="/signup">sign up</a>
                <% } %>
          </div>

        </div>
      </div>
    </div>

    <div class="nav hide-for-small">
      <div class="row">
        <ul>
          <li>
            <a href="/">
              <span>home</span>
            </a>
          </li>
          <li>
            <a href="/designer">
              <span>designers</span>
            </a>
          </li>
          <li>
            <a href="">
              <span>trend</span>
            </a>
          </li>
          <li>
            <a href="">
              <span>inspire</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="inner-wrapper" ng-app="myApp">
      <%- body %>
    </div>

    <div id="pusher" style="height: 226px;"></div>

  </div>

  <div class="footer">
    <div class="row footer-wrapper ttt">
      <img class="logo" src="/images/logo.png">
      <div class="link">
        <a href="">
          <span>contact us</span>
        </a>
        <a href="">
          <span>terms & conditions</span>
        </a>
        <a href="">
          <span>privacy</span>
        </a>
      </div>
      <div class="copywrite">©2014 singmade.com, all rights reserved</div>
    </div>
  </div>



  <!--

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>



      Client-side Javascript
      ========================

      You can import any js files in your `assets` directory as you would 
      normally: using <script></script> tags.

      Here's an example of importing a few dependencies, in order:
    -->

  <!-- Bring in the socket.io client -->
  <!-- then beef it up with some convenience logic for talking to Sails.js -->
  <!-- listen on socket.io for incoming messages -->



  <!--SCRIPTS-->
  <script src="/min/production.js"></script>
  <!--SCRIPTS END-->

</body>

</html>