<div class="row">

    <div class="small-12 medium-12 large-12 columns">

      <h1>your details as designer</h1>

      <% if (typeof err != 'undefined' ){ %>
        <% _.each(err, function(error) { %> 

          <div data-alert class="alert-box alert">
            <%= __(error) %>
          </div>
        
        <% }) %>
        
      <% } %>

          <form method="post" enctype="multipart/form-data" action="/me/designer">
            <div class="row">
              <div class="large-12 columns">
                <label>Name
                  <input type="text" name="name" placeholder="Name (your name or brand name)" value="<%= typeof req.session.user.designer != 'undefined' ? req.session.user.designer.name : '' %>"/>
                </label>
              </div>
            </div>

            <div class="row">
              <div class="large-12 columns">
                <label>Title
                  <input type="text" name="title" placeholder="Title, e.g. Fashion Designer" value="<%= typeof req.session.user.designer != 'undefined' ? req.session.user.designer.title : '' %>"/>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <label>Profile
                  <textarea name="profile" placeholder="Profile"><%= typeof req.session.user.designer != 'undefined' ? req.session.user.designer.profile : '' %></textarea>
                </label>
              </div>

            </div>


            <div class="row">
              <div class="large-12 columns">
                <button type="submit" class="button">Save</button>
              </div>

            </div>
          </form>

    </div>

  </div>