<div class="normal-wrapper">
  <div class="row">

    <div class="small-12 medium-6 large-4 small-centered columns">

      <h1>sign up as member</h1>

      <% if (typeof err!='undefined' ){ %>
        <div data-alert class="alert-box alert">
          Please enter the valid credentials.
          <!-- <a href="#" class="close">&times;</a> -->
        </div>
        <% } %>


          <form method="post" action="/user/create">
            <div class="row">
              <div class="large-12 columns">
                <label>Register as a/an</label>
                <input type="radio" name="userType" value="user" checked>
                <label>Amateur</label>
                <input type="radio" name="userType" value="designer">
                <label>Designer</label>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <label>Email
                  <input type="text" name="email" placeholder="Email" />
                </label>
              </div>

            </div>

            <div class="row">
              <div class="large-12 columns">
                <label>Password
                  <input type="password" name="password" placeholder="Password" />
                </label>
              </div>

            </div>

            <div class="row">
              <div class="large-12 columns">
                <button type="submit" class="button">Register</button>
              </div>

            </div>
          </form>

    </div>

  </div>
</div>