<div class="designer-wrapper" ng-controller="DesignerViewCtrl" ng-init="init('<%= designer.name %>', '<%= designer.title %>', '<%= designer.profile %>', '<%= designer.avatar %>')">
	<div class="row">
		<div class="column small-3 ttt">
			<a href="/designer/{{designer.name}}">
				<img class="avatar" no-avatar ng-src='{{designer.avatar}}'>
			</a>
			<div class="name-title"><span class="name">{{designer.name}}</span> | <span class="title">{{designer.title}}</span></div>
		</div>
		<div class="column small-9">
			<div class="profile">{{designer.profile}}</div>
			<div class="actions">
				<button class="button"><i class="fi-mail"></i> message</button> 
				<button class="button" busy-button ng-click="follow()" ng-show="!isFollowing"><i class="fi-plus"></i> follow</button> 
				<button busy-button class="button" busy-button ng-click="unfollow()" ng-show="isFollowing"><i class="fi-minus"></i> unfollow</button>
			</div>
		</div>
	</div>
</div>